<%= form_for(perro) do |f| %>
  <% if perro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(perro.errors.count, "error") %> prohibited this perro from being saved:</h2>

      <ul>
      <% perro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :imagen %>
    <%= f.text_field :imagen %>
  </div>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion %>
  </div>

  <div class="field">
    <%= f.label :edad %>
    <%= f.number_field :edad %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
